##### part 1

In [6]:
list=[1,2,5,10,"A",2.5,5+2j]

In [2]:
list

[1, 2, 5]

In [3]:
A=[]

In [4]:
print(A)

[]

In [5]:
print(list[1])

2

In [7]:
list[-1]

(5+2j)

In [10]:
# max index not fetch it
list[0:3]

[1, 2, 5]

In [11]:
#from first list to end index
list[:3]

[1, 2, 5]

In [12]:
list[1:]

[2, 5, 10, 'A', 2.5, (5+2j)]

#### part 2

In [13]:
list=[1,2,5,10,"A",2.5,5+2j]

In [14]:
#update location

list[4]="Ayman"

In [15]:
list

[1, 2, 5, 10, 'Ayman', 2.5, (5+2j)]

In [16]:
# delete location from list
del (list[0])
list

[2, 5, 10, 'Ayman', 2.5, (5+2j)]

In [17]:
del(list)

In [18]:
list

list

In [19]:
# basic list operations 
names=["Ayman","Ahmed","Ali","Mohamed"]
jobs=["Doc","ENG","SING"]
names+jobs

['Ayman', 'Ahmed', 'Ali', 'Mohamed', 'Doc', 'ENG', 'SING']

In [20]:
jobs*3

['Doc', 'ENG', 'SING', 'Doc', 'ENG', 'SING', 'Doc', 'ENG', 'SING']

In [21]:
jobs+2

TypeError: can only concatenate list (not "int") to list

In [24]:
# find num of items in list
len(jobs)

3

In [23]:
# string list of characters
string="Ayman"
len(string)

5

In [25]:
Doc in jobs

NameError: name 'Doc' is not defined

In [26]:
# search in list
'Doc' in jobs

True

In [27]:
if 'Doc'in jobs:
    print("Hello")
else:
    print("Bye")

Hello

In [28]:
names

['Ayman', 'Ahmed', 'Ali', 'Mohamed']

#### part 3

In [29]:
numbers=[1,2,3,4,5,6]

In [30]:
numbers

[1, 2, 3, 4, 5, 6]

In [32]:
names

['Ayman', 'Ahmed', 'Ali', 'Mohamed']

In [33]:
#with first letter arrange (a,b,c,.....)
print(max(names))

Mohamed

In [34]:
print(min(names))

Ahmed

In [35]:
min(numbers)

1

In [36]:
max(numbers)

6

In [37]:
#append --> add item in the last list location
names.append("hazem")

In [38]:
names

['Ayman', 'Ahmed', 'Ali', 'Mohamed', 'hazem']

In [41]:
numbers.append(60)

In [42]:
#how to count number of frequency specific item
numbers.count(60)

3

In [43]:
numbers

[1, 2, 3, 4, 5, 6, 60, 60, 60]

In [44]:
#how to add list to list
numbers.extend(names)

In [45]:
numbers

[1, 2, 3, 4, 5, 6, 60, 60, 60, 'Ayman', 'Ahmed', 'Ali', 'Mohamed', 'hazem']

In [46]:
# different between sum (+) and extend 
#1-extend 
#add list inside another list
#2-sum
#but sum add list1 plus list2 and create new list
numbers+names

[1,
 2,
 3,
 4,
 5,
 6,
 60,
 60,
 60,
 'Ayman',
 'Ahmed',
 'Ali',
 'Mohamed',
 'hazem',
 'Ayman',
 'Ahmed',
 'Ali',
 'Mohamed',
 'hazem']

In [47]:
# get location of specific item
names.index("Ayman")

0

In [48]:
# how to insert item in specific location and shift item that demonate on that locate
names.insert(0,"AAAAAAA")

In [51]:
names

['AAAAAAA', 'Ayman', 'Ahmed', 'Ali', 'Mohamed', 'hazem']

In [54]:
# like stack return and delete item from last and append in last (last in first out)
names.pop()

'Mohamed'

In [55]:
names

['AAAAAAA', 'Ayman', 'Ahmed', 'Ali']

In [56]:
# remove specific item and not return it
names.remove("Ahmed")

In [57]:
names

['AAAAAAA', 'Ayman', 'Ali']

In [58]:
names.reverse()

In [59]:
names

['Ali', 'Ayman', 'AAAAAAA']

In [60]:
numbers=[1,5,0,8,10]

In [61]:
numbers.sort()

In [62]:
numbers

[0, 1, 5, 8, 10]

In [64]:
numbers.clear()

In [65]:
numbers

[]

In [66]:
type(names)

list